@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Montserrat', sans-serif;
  color: #3E2262;
  background: #FFAF56;
}
