@import 'base';
@import 'helpers';

.hero {
  margin-bottom: -10rem;

  &__image {
    width: 100%;
    height: auto;
  }

  @include bp-mobile() {
    margin-bottom: -5rem;
  }
}

.copyright {
  text-align: center;
  font-size: 0.8rem;
  padding: 1rem 0;
}